@{
    ViewData["Title"] = "Create Claim";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger text-center">
        @TempData["ErrorMessage"]
    </div>
}


<h1>Create Claim</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label for="LecturerId" class="control-label">Lecturer Name</label>
                @Html.DropDownList("LecturerId", (SelectList)ViewBag.LecturerList, "-- Select Your Name --", new { @class = "form-control", required = "required" })
            </div>

            <div class="form-group">
                <label>Number of Hours</label>
                <input type="number" name="numHours" class="form-control" step="1" />
            </div>

            <div class="form-group">
                <label>Rate per Hour</label>
                <input type="number" name="rate" class="form-control" step="10" />
            </div>

            <div class="form-group">
                <label>Message</label>
                <textarea name="message" class="form-control" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label>Upload Supporting Document</label>
                <input type="file" name="uploadedFile" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>