@model PROG_MVC_POE_P2.Models.Claim

@{
    ViewBag.Title = "Submit Claim";
}

<h2>Submit a Claim</h2>

<form asp-action="SubmitClaim" asp-controller="Claims" method="post">
    <div class="form-group">
        <label>Lecturer</label>
        <select asp-for="LecturerId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Lecturers, "LecturerId", "Fname"))">
            <option value="">Select Lecturer</option>
        </select>
    </div>

    <div class="form-group">
        <label>Claim Date</label>
        <input asp-for="ClaimTime" type="datetime-local" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
